body {
    font-family: sans-serif;
}

h1 {
    text-align : center; 
    color : black;
    background : white;
}

img {
    width: 400px;
    height: 300px;
}
.qq{
    
    width: 900px;
    height: 600px;
}

